@import 'Styles/mixins.scss';

#NavBarContainer{
  @media #{$m} {
    position: fixed;
    z-index: 997;
    width: 100%;
    top: 0;
    left: 0;
  }
  nav{
    background: rgba(0, 0, 0, 1);
    @media #{$m} {
      background: rgba(0, 0, 0, .7);
    }
    a{
      @media #{$m} {
        color: #fff;
      }
    }
  }
}