//Common Styles
div.stupid-carousel-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  div.stupid-carousel-slider{
    position: relative;
    ul.stupid-carousel-list{
      box-sizing: border-box;
      display: flex;
      flex-flow: row;
      flex-grow: 1;
      padding: 0;
      margin: 0;
      li.stupid-carousel-slide{
        box-sizing: border-box;
        flex-shrink: 0;
        display: flex;
        list-style-type: none;
      }
    }
  }
}
